category_encoders==2.6.0
fastapi==0.95.0
feature_engine==1.6.0
itsdangerous==1.1.0
mysql-connector-python==8.0.32
names==0.3.0
numpy==1.23.3
pandas==1.5.1
pip==23.0.1
PyJWT==2.6.0
bcrypt==4.0.1
requests==2.28.1
scikit_learn==1.2.2
selenium==4.8.3
starlette==0.26.1
uvicorn==0.20.0
vaderSentiment==3.3.2
xgboost==1.7.4