html, body {
    background-color: white;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

.container-fluid {
    height: 100%;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    overflow-x: hidden;
    background-color: black;
}

.background-image-banner {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../design-resources/letseat-background.png');
}

.home-banner {
    background-color: transparent;
    min-height: 600px;
}

.home-description {
    background: black;
}

.input-box {
    background-color: #ececec;
    border-color: #ececec;
    padding-top: 16px;
    padding-bottom: 8px;
    font-weight: 500;
}

.login-box {
    background-color: #ececec;
    border-color: #ececec;
    padding: 3%;
    border-radius: 4px;
    font-weight: 500;
}

.restaurant-image {
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 5%;
}

.home-main-block {
    padding-top: 13%;
}

