@font-face { 
    font-family: Visby; 
    src: url('./fonts/visbycf-bold.otf');
}
@font-face { 
    font-family: SF-Pro-Regular; 
    src: url('./fonts/SF-Pro-Display-Regular.otf');
}
@font-face { 
    font-family: SF-Pro-Bold; 
    src: url('./fonts/SF-Pro-Display-Bold.otf');
}

html, body {
    background-color: white;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
}

h1 {
    font-family: 'Sf-Pro-Bold';
    color: #6d8a5e;
}

h2 {
    font-family: 'SF-Pro-Regular';
    color:#161616
}

h3 {
    font-family: 'SF-Pro-Regular';
    font-weight: 800;
}

p {
    font-family: 'SF-Pro-Regular';
    font-size: 1.1rem;
}

label {
    font-family: 'SF-Pro-Regular';
    font-size: 1.1rem;
    color: #4c4c4c;
}

.color-theme {
    color: #6d8a5e;
}

.input-box {
    background-color: #ececec;
    border-color: #ececec;
    padding-top: 16px;
    padding-bottom: 8px;
    font-weight: 500;
}

.login-box {
    background-color: #ececec;
    border-color: #ececec;
    padding-top: 16px;
    padding-bottom: 8px;
    border-radius: 5px;
    font-weight: 500;
}

.btn.answerOption {
    font-family: 'SF-Pro-Regular';
    font-size: 1.1rem;
    font-weight: 700;
    color: black;
    background-color: #ececec;
    padding: 6%;
    border-radius: 8px;
    margin-top: 15px;
}

.btn.answerOption:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #87ae73;
    color: white;
}

.btn.submit {
    background-color: #87ae73;
    border-color: #87ae73;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:1.1rem;
}

.btn.submit:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 12px 40px 0 rgba(0,0,0,0.19);    
}

.btn.confirm {
    color: white;
    background-color: #87ae73;
    border-radius: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size:1.2rem;
}

.btn.tryAgain {
    color: white;
    background-color: black;
    border-radius: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size:1.2rem;
}

.restaurant-image {
    width: 800px;
    height: 350px;
    object-fit: cover;
    object-position: center;
    border-radius: 5%;
}
