@font-face { 
    font-family: Visby; 
    src: url('./fonts/visbycf-bold.otf');
}
@font-face { 
    font-family: SF-Pro-Regular; 
    src: url('./fonts/SF-Pro-Display-Regular.otf');
}
@font-face { 
    font-family: SF-Pro-Bold; 
    src: url('./fonts/SF-Pro-Display-Bold.otf');
}
@font-face { 
    font-family: Charter-Regular; 
    src: url('./fonts/charter-font/Charter-Regular.otf');
}
@font-face { 
    font-family: Charter-Bold; 
    src: url('./fonts/charter-font/Charter-Bold.otf');
}
@font-face { 
    font-family: Colfax-Regular; 
    src: url('./fonts/colfax-font/Colfax-Regular.otf');
}
@font-face { 
    font-family: Colfax-Medium; 
    src: url('./fonts/colfax-font/Colfax-Medium.otf');
}

html, body {
    background-color: white;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

.container-fluid {
    height: 100%;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    overflow-x: hidden;
}

.home-banner {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 100%);
    min-height: 530px;
}

h2 {
    font-family: 'SF-Pro-Regular';
    color:#161616;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

h3 {
    font-family: 'SF-Pro-Regular';
    font-weight: 800;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Charter-Regular';
    font-size: 1.1rem;
}

label {
    font-family: 'Colfax-Regular';
    font-size: 1.1rem;
    color: #4c4c4c;
}

.sf-pro-bold {
    font-family: 'SF-Pro-Bold';
    text-decoration: none;
}

.sf-pro-regular {
    font-family: 'SF-Pro-Regular';
    text-decoration: none;
}

.charter-regular {
    font-family: 'Charter-Regular';
    text-decoration: none;
}

.charter-medium {
    font-family: 'Charter-Medium';
}

.colfax-regular {
    font-family: 'Colfax-Regular';
}

.colfax-medium {
    font-family: 'Colfax-Medium';
}

.color-theme {
    color: #6d8a5e;
}

.white-theme {
    color: white;
}

.font-size-md {
    font-size: 1.2rem;
}

.input-box {
    background-color: #ececec;
    border-color: #ececec;
    padding-top: 16px;
    padding-bottom: 8px;
    font-weight: 500;
}

.login-box {
    background-color: #ececec;
    border-color: #ececec;
    padding: 3%;
    border-radius: 4px;
    font-weight: 500;
}

.btn.home-large-login {
    background-color: black !important;
    color: white !important;
    border-radius: 30px;
    font-size:0.9rem;
    padding: 3%;
    transition: all 0.1s ease-in-out;
}

.btn.home-large-login:active {
    transform: scale(0.9);
}

.flex-styling-75 {
    flex: 0 0 73%;
}

.flex-styling-50 {
    flex: 0 0 48%;
}

.flex-styling-33 {
    flex: 0 0 32%;
}

.flex-styling-25 {
    flex: 0 0 23%;
}

.btn.answerOption {
    background-color: #ececec;
    font-family: 'Colfax-Regular';
    font-size: 0.9rem;
    font-weight: 700;
    color: black;
    padding: 3%;
    margin: 4px;
    transition: .2s ease-in-out 0s;
}

.btn.answerOption:focus {
    border-color: #ececec;
}

.btn.answerOption:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: scale(1.08);
    border-color: #ececec;
}

.btn.answerOption.selected {
    background-color: #87ae73;
    border-color: #87ae73;
    color: white;
}

.btn.submit {
    background-color: black !important;
    border-color: black !important;
    color: white !important;
    border-radius: 5px;
    padding: 2%;
    font-size:1.2rem;
}

.btn.submit:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 12px 40px 0 rgba(0,0,0,0.19);    
}

.btn.confirm {
    color: white;
    background-color: #87ae73;
    border-radius: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size:1.2rem;
}

.btn.tryAgain {
    color: white;
    background-color: black;
    border-radius: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size:1.2rem;
}

.restaurant-image {
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 5%;
}

.padding-style-1 {
    padding-top: 10px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 10px;
}

.padding-style-2 {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 4%;
    padding-bottom: 5%;
}

.home-main-block {
    padding-top: 10%;
}

.home-navbar-white {
    background-color: white;
    max-height: 70px;
}

.home-navbar-black {
    background-color: black;
    max-height: 70px;
}

.navbar-login {
    background-color: transparent !important;
    border-color: transparent !important;
    border-width: 0px;
    color: black !important;
    text-align: right;
    font-size: 0.8rem;
    
}

.navbar-signup {
    background-color: black !important;
    border-width: 0px !important;
    color: white !important;
    border-radius: 20px;
    font-size: 0.8rem;
}

.home-description {
    margin-top: 50px;
    background: white;
}

.letseat-logo-navbar {
    width: 100px;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: black;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.9s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.9s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.9s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.9s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

.font-size-md {
    font-size: 2.6rem;
    line-height: 1.1;
}

.font-size-sm {
    font-size: 1rem;
    line-height: 1.4;
}