.restaurant-component {
    position: relative;
    min-height: 800px;
    min-width: 1300px;
    overflow: hidden;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url('../design-resources/restaurant-dashboard.png');
    z-index: 1;
}

.restaurant-main-block {
    background-color: white;
    padding: 60px;
    border-radius: 20px;
}

.restaurant-image {
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}